:root {
  font-family: "Ubuntu";
  color: #ffffff;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu";
  src: url(../Fonts/Ubuntu/Ubuntu-Light.ttf);
}

html {
  background: url(../Images/Photo/Фон\ 1.png) no-repeat center fixed;
  background-size: cover;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 18px 79px;
}

.header_logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 22px;
  transition: color linear 0.5s;
}

.header_logo:hover {
  color: #3cb878;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 347px;
}

.header__nav-calendar,
.header__nav-envelope,
.header__nav-compass {
  fill: #ffffff;
  transition: fill linear 0.2s;
}

.header__nav-calendar:hover,
.header__nav-envelope:hover,
.header__nav-compass:hover {
  fill: #3cb878;
}

.header__nav-enter-link {
  text-decoration: none;
  color: #ffffff;
  transition: color linear 0.2s;
}

.header__nav-enter-link:hover {
  color: #3cb878;
}

.main {
  display: flex;
  justify-content: center;
}

.main__form {
  width: 444px;
  margin-top: calc((100vh - 622px - 60px) / 2);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.main__form-bookmark {
  position: absolute;
  padding-top: 29px;
}

.main__form-choice-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 31px 60px 0;
}

.main__form-choice-container p:first-child {
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
  color: #434343;
}

.main__form-choice-container p:last-child {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #3cb878;
}

.main__link {
  color: #3cb878;
  text-decoration: none;
}

.main__link:hover {
  text-decoration: underline;
}

.main__form-btn {
  display: flex;
  justify-content: space-between;
  padding: 15px 60px 31px;
}

.btn {
  width: 160px;
  height: 60px;
  border: none;
  outline: none;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 5px;
  transition: background-color 0.5s;
}

.main__form-btn-facebook {
  background: #305db8;
}

.main__form-btn-facebook:hover {
  background: #022263;
}

.main__form-btn-google {
  background: #df4a32;
}

.main__form-btn-google:hover {
  background: #ab1f09;
}

.main__form-btn-facebook-icon-container {
  flex-grow: 3;
  display: flex;
  justify-content: center;
}

.main__form-btn-service {
  font-family: "Ubuntu";
  width: 110px;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
}

.main__condition {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 0 60px 12px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848484;
}

.main__condition::before,
.main__condition::after {
  content: "";
  flex: 1;
  padding-top: 2px;
  border-bottom: 1px solid #f2f2f2;
}

.main__condition:not(:empty)::before {
  margin-right: 5px;
}

.main__condition:not(:empty)::after {
  margin-left: 5px;
}

.main__form-item {
  display: flex;
  flex-direction: column;
  padding: 0 60px 38px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.main__form-field {
  outline: none;
  font-family: "Ubuntu";
  color: #ffffff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  height: 44px;
  margin-bottom: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}

.main__form-field:focus {
  box-shadow: 0px 3px 8px 0px #00000036;
}

.main__form-checkbox {
  padding: 0;
  margin: 0;
  width: 20px;
  height: 20px;
  background: hsl(118, 85%, 46%);
  color: #3cb878;
}

.main__rules {
  display: flex;
  align-items: center;
}

.main__rules p {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #434343;
  padding-left: 8px;
}

.btn_create-account {
  outline: none;
  padding: 0;
  height: 46px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background: #3cb878cc;
  color: #ffffff;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition: background-color 0.5s;
}

.btn_create-account:hover {
  background-color: #01813f;
}
